* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    width: 100%;
    overflow-x: hidden; 
}

.body {
    background-color: var(--grey-50);
    font-family: var(--primary-font);
    width: 100%;
    overflow-x: hidden;
}

.header {
    background-color: var(--main-color);
    padding: 15px 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
}

.UCV {
    font-size: 1rem; 
    vertical-align: middle;
}

.logo h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: var(--flex-font);
}

.logo span {
    font-size: 1.1rem;
    vertical-align: middle;
    font-weight: normal;
    font-family: var(--primary-font);
}

.busqueda form {
    display: flex;
}
        
.busqueda input {
    padding: 8px 15px;
    border: none;
    border-radius: 12px 0 0 12px;
    width: 250px;
}

.busqueda button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
}

.user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border-radius: 50%;
    padding: 7px;
}

.contenedor {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 2px;
}

.titulo {
    font-size: 1.8rem;
    color: var(--grey-800);
    margin-bottom: 30px;
}

.estudiantes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    border-radius: 15px;
    overflow: hidden;
    border-bottom: 8px solid var(--main-color); 
}

.card-image {
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.card-info {
    background-color: var(--white);
    padding: 15px;
}

.card-info p {
    color: var(--grey-800);
    font-size: 1rem;
}

.footer {
    text-align: center;
    padding: 40px 0;
    color: var(--grey-200);
    font-size: 0.85rem;
    border-top: 1px solid var(--grey-200);
    margin-top: 50px;
    font-family: var(--primary-font);
}

.contenido{
    display:flex;
    align-items: center;
    padding-right: 20px;
    grid: repeat(2, 60px) / auto-flow 80px;
    background-color: var(--white);
    border: 1px solid var(--grey-100);
    box-shadow: 5px 5px 15px var(--grey-200);
    overflow: hidden;
}
    
.imagen{
    width: 300px;
    height: 100%;
    display: block;
    object-fit: cover;
    border-bottom-right-radius: 50px;
    padding-right: 5px;
}

.contenido-texto{
    padding-left: 20px;
    font-family: var(--primary-font);
}

.nombre{
    margin-top: 20px;
    color: var(--main-color);
}

.contenido-imagen{
    background-color: var(--main-color);
   position: relative;
    display: flex;
    align-items: flex-end;

}

#bio{
    font-style: italic;
}

.texto-principal {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--black);
}
        
.correo{
    color: var(--main-color);
}

.correo:active {
    color: var(--accent-color);
}

.link {
  display: contents; 
  text-decoration: none;
}

.link, 
.link:visited {
    color: inherit;          
    text-decoration: none;  
}

.card:hover {
    transform: scale(1.15) rotate(2deg);
    border-bottom: 8px solid var(--accent-color); 
}

.menu-icon {
    display: none;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    .logo h1 {
        font-size: 1.8rem; 
    }

    .logo span {
        font-size: 0.8rem; 
    }

    .header {
        padding: 8px 15px; 
    }
   

    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .busqueda {
        display: none; 
    }

    .menu-icon {
        display: block; 
    }

    .user-icon{
        display: none;
    }

    .contenido {
        flex-direction: column; 
        padding-right: 0;
    }

    .contenido-imagen {
        width: 100%;
        padding-bottom: 5px; 
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .imagen {
        width: 100%;
        height: auto;   
        padding-right: 0;
    }

    .contenido-texto {
        padding: 20px;
    }

    .nombre {
        font-size: 1.8rem;
        margin-top: 10px;
    }

    table.texto-principal td {
        display: block;
        width: 100%;
    }
    
    table.texto-principal tr {
        margin-bottom: 10px;
        display: block;
    }

    .contenedor {
        margin: 20px 15px;
    }

    .titulo {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
    }

    .estudiantes {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .card {
        width: 100%;
        max-width: 130px;
        overflow: hidden;
    }

    .card-image {
        height: 180px; 
        width: 100%;
    }

    .card-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card:hover {
        transform: scale(1.02);
    }

    .card-info {
        padding: 8px 5px;
        text-align: left; 
    }

    .card-info p {
        font-size: 0.85rem;
        overflow: hidden;
        padding-left: 2px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .logo h1 {
        font-size: 2.2rem; 
    }

    .logo span {
        font-size: 0.9rem;
    }

    .header {
        padding: 12px 20px;
    }

    .busqueda{
        display: none;
    }

    .menu-icon {
        display: block; 
    }

    .user-icon{
        display: none;
    }

    .contenido {
        flex-direction: column; 
        max-width: 100%;
        padding-right: 0; 
    }

    .contenido-imagen {
        width: 100%;
        height: auto;
        padding-bottom: 5px; 
        padding-right: 0;    
        justify-content: center;
    }

    .imagen {
        width: 100%;
        max-width: 500px; 
        height: auto;
        padding-right: 0;
    }

    .contenido-texto {
        padding: 30px; 
        width: 100%;
    }
    
    table.texto-principal td {
        padding: 3px 0;
    }

    .header {
        padding: 12px 20px;
    }

    .logo h1 {
        font-size: 2.2rem;
    }

    .estudiantes {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px;
        padding: 0 15px;
    }

    .card {
        width: 100%;
        max-width: 160px; 
        margin: 0 auto;
        border-bottom: 8px solid var(--main-color);
        border-radius: 15px;
    }

    .card-image {
        height: 160px; 
    }

    .card-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-info {
        padding: 10px 8px;
    }

    .card-info p {
        font-size: 0.95rem;
        font-weight: 500;
        text-align: left;
    }

    .titulo {
        font-size: 1.8rem; 
        text-align: left; 
        margin-left: 18px; 
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .logo h1 {
        font-size: 2.4rem; 
    }

    .logo span {
        font-size: 1rem;
    }

    .header {
        padding: 15px 30px;
    }

    .menu-icon {
        display: none; 
    }

    .user-icon{
        display: flex;
    }

    .contenido {
        display: flex;
        flex-direction: row; 
        align-items: stretch;
        max-width: 950px;
        overflow: hidden;
    }

    .contenido-imagen {
        width: 350px; 
        display: flex;
        align-items: flex-start; 
    }

    .imagen {
        width: 100%;
        height: 100%; 
        object-fit: cover; 
        display: block;
    }

    .contenido-texto {
        flex: 1;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nombre {
        margin-top: 0; 
        font-size: 2.2rem;
    }

    .titulo {
        font-size: 2rem;
        margin-left: 50px; 
        margin-bottom: 30px;
    }

    .estudiantes {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 30px;
        padding: 0 40px;
        justify-items: center;
    }

    .card {
        width: 100%;
        max-width: 180px;
    }

}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .logo h1 {
        font-size: 2.8rem; 
    }

    .logo span {
        font-size: 1.1rem;
    }

    .header {
        padding: 15px 50px;
    }

    .menu-icon {
        display: none; 
    }

    .user-icon{
        display: flex;
    }

    .contenido {
        max-width: 1100px; 
    }

    .nombre {
        font-size: 2.5rem;
    }

    .titulo {
        font-size: 2.2rem;
        max-width: 1100px;
        margin: 0 auto 40px auto; 
        padding-left: 20px;
    }

    .estudiantes {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 30px;
        max-width: 1100px;
        padding-left: 20px;
    }

    .card {
        width: 100%;
        max-width: 220px; 
    }

    .card-image {
        height: 220px; 
    }

    .card-info p {
        font-size: 1.1rem;
        font-weight: bold;
    }
}